html {
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%) no-repeat center fixed;
    background-size: cover;
  }

body {
    font-family:sans-serif;
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%) no-repeat center fixed;
    background-size: cover;
}

.text-custom {
    font-size: 15px;
}

tbody{
    border: 1px solid black;
    border-collapse: collapse;
  }

.row-head {
  display: table-row;
  font-weight: 900;
  color: #ffffff;
  background: #ea6153
 }

 .data {
    padding: 6px 36px
 }

