<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>School</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center text-head" style="color: white;">Welcome</h1>
        <h2 class="text-center" style="color: white;">Options</h2>
        <div class="container-center">
            <div class="element">
                <ul class="container text-mid">
                    <li>
                        <a class="btn" href="{{ url_for('list_of_all_students') }}">Display</a>
                    </li>
                    <li>
                        <a class="btn" href="{{ url_for('add_students_page') }}">Add Student</a>
                    </li>
                    <li>
                        <a class="btn" href="">Average</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>